body{
  background: #000;
  color: #F0F0F0;
  font-size: 12pt;
  font-family: sans-serif;
}
div.navbar{
  position: fixed;
  color: #FF9100;
  background: #000;
  height: 100px;
  width: 100%;
  top: 0px;
  left: 0px;
}
div.navbar h1{
  font-size: 44pt;
  font-weight: bold;
  display: inline;
  line-height: 100px;
  margin-left: 1em;
}
#ribbon{
  height: 149px;
  width: 149px;
  overflow: hidden;
  padding: 0;
  margin: 0;
  float: right;
}
#ribbon a{
			display: block;
			width: 190px;
			font-size: 14px;
			font-family: Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", 
				"Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, 
				Geneva, "Helvetica Neue", Helvetica, Arial, sans serif;
			background-color: #FF9100;
			color: #FFF;
			word-spacing: 2px;
			text-decoration: none;
			padding: 5px 15px 5px 25px;

			position:relative;
			left: 20px;
			top: -37px;
			text-align: center;

			-moz-transform-origin: 0 0 ;
			-moz-transform:rotate(45deg);
			-moz-box-shadow:    1px 1px 5px 1px #666;

			-webkit-transform-origin: 0 0 ;	
			-webkit-transform:rotate(45deg);
			-webkit-box-shadow: 1px 1px 5px 1px #666;

			-ms-transform-origin: 0 0 ;	
			-ms-transform:rotate(45deg);
			-ms-box-shadow: 1px 1px 5px 1px #666;

			transform-origin: 0 0 ;	
			transform:rotate(45deg);
			box-shadow: 1px 1px 5px 1px #666;

			background-image: linear-gradient(bottom, #FF9100 3%, #666666 5%, #FF9100 7%, #FF9100 93%, #666666 95%, #FF9100 97%);
			background-image: -o-linear-gradient(bottom, #FF9100 3%, #666666 5%, #FF9100 7%, #FF9100 93%, #666666 95%, #FF9100 97%);
			background-image: -moz-linear-gradient(bottom, #FF9100 3%, #666666 5%, #FF9100 7%, #FF9100 93%, #666666 95%, #FF9100 97%);
			background-image: -webkit-linear-gradient(bottom, #FF9100 3%, #666666 5%, #FF9100 7%, #FF9100 93%, #666666 95%, #FF9100 97%);
			background-image: -ms-linear-gradient(bottom, #FF9100 3%, #666666 5%, #FF9100 7%, #FF9100 93%, #666666 95%, #FF9100 97%);

			background-image: -webkit-gradient(
				linear,
				left bottom,
				left top,
				color-stop(0.03, #FF9100),
				color-stop(0.05, #666666),
				color-stop(0.07, #FF9100),
				color-stop(0.93, #FF9100),
				color-stop(0.95, #666666),
				color-stop(0.97, #FF9100)
			);	
}
ul.raspi{
  font-size: 8pt;
  list-style-type: none;
  float: left;
}
a{
  color: #FFF;
}
a:hover{
  color: #FF9100;
}
div.container{
  padding-top: 92px;
  background: #000;
}
div.sidebar_left{
  float: left;
  display: inline;
  width: 173px;
  padding: 0 20px;
  background: #666;
  border-right: solid #000 2px;
}
p.tagline{
  font-style: italic;
  font-size: 12pt;
}
ul.contents{
  list-style-type: none;
  float: left;
  font-size: 16pt;
  padding-left: 30px;
}
ul.contents li{
  padding: .66em 0;
}
ul.contents li a{

}
div.content{
  margin-left: 215px;
  padding: 30px;
  min-width: 800px;
  background: #666;
}
div.content h2{
  color: #FF9100;
  font-size: 28pt;
}
hr {
    border: 0;
    height: 3px;
    background: #666;
    background-image: -webkit-linear-gradient(left, #FF9100, #666); 
    background-image:    -moz-linear-gradient(left, #FF9100, #666); 
    background-image:     -ms-linear-gradient(left, #FF9100, #666); 
    background-image:      -o-linear-gradient(left, #FF9100, #666);
}
.image-left{
  display: inline-block;
  background: #000;
  float: left;
  margin: 10px;
}
.image-right{
  display: inline-block;
  background: #000;
  float: right;
  margin: 10px;
}
.image-center{
  display: block;
  background: #000;
  margin: 0 auto;
  padding: 10;
  width: 800px;
}
.caption{
  color: #FFF;
  font-size: 8pt;
  font-weight: bold;
  text-align: center;
  padding: 0 0 5px 0;
}
div.footer{
  display: block;
  clear: both;
  padding-top: 30px;
  margin-left: 220px;
}
div.footer ul{
  list-style-type: none;
  font-size: 9pt;
}
code.prettyprint{
  padding: 0 1em;
}
pre.prettyprint{
  clear: both;
}
table {
	font-size: 10pt;
	border-width: 2px;
	border-collapse: collapse;
  border-color: #000;
  text-align: center;
}
table th {
	border-width: 2px;
	padding: 8px;
  border-color: #000;
	border-style: solid;
}
table td {
	border-width: 2px;
	padding: 8px;
  border-color: #000;
	border-style: solid;
}